setuptools
ez_setup
python-dotenv>=0.5.1
pandas>=0.18.1
matplotlib>=1.5.1
numpy
gdal
geojson
shapely
IPython
jupyter
tifffile
click
Sphinx
coverage
awscli
flake8
autopep8
boto
awscli
tqdm
watermark
s3cmd
